.feature-dish::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.feature-dish::-webkit-scrollbar-thumb {
    border-radius:10px;
    -webkit-box-shadow: inset 10px 10px 60px rgb(253, 152, 0); 
}

